*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header .width-max nav{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
    height: 80px;
    
    border-radius: 0 0 20px 20px;
    
    
}
header .width-max nav a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
    scale: 1.0;
    transition: 1s;
    text-transform: uppercase;

}

header .width-max nav:hover :not(:hover){
    opacity: 0.5;
}
header .width-max nav a:hover{
    scale: 1.2;
    transition: 0.2s linear;
    text-shadow: 0 0px 10px yellow;
    
}
header .banner .width-max{
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
    
}
header .banner .width-max{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
header .banner{
    background-image: url('https://c.pxhere.com/photos/15/5c/star_sky_night-1410748.jpg!d');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 850px;
    perspective: 1000px;
   
   
    
    
}

header .banner .width-max div:last-of-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    font-family: 'Nova Square';
    
}
.banner .banner_text div{
    animation: 6s both ease-in-out nome;
    animation-delay: 6s;
    position: absolute;
    
   
   
}

.banner .banner_text div p:nth-child(1){
    font-size: 150px;
    font-family: 'Qwitcher Grypen';
   color: #efd61d;
   
   

}
.banner .banner_text div p:nth-child(2){
    font-size: 20px;
    margin-top: 35px;
    font-family: 'orbitron';
    
    
    
}
header .banner .width-max div:last-of-type .saudacao_1{
    animation: 5s both ease-in-out saudacao;
    animation-delay: 6s;
}
header .banner .width-max div:last-of-type .saudacao{
    font-size: 80px;
    animation: 5s both ease-in-out saudacao;
    
}
@keyframes saudacao{
    0%{
        opacity: 0;
        

    }
    50%{opacity: 1;
        
        
        

    }
    100%{opacity: 0;
        
        

    }
}
@keyframes nome{
    0%{
        opacity: 0;

    }

    
    100%{opacity: 1;
        
    }
}
header .width-max  .logo, .logo_c, .logo_j, .logo_git, .logo_hub, .logo_vs{
    width: 50px;
    border-radius:0;
    opacity: 0.8;
    
}
.logo{
    animation: 65s  linear infinite  rotacao;
}
.logo_c{
    animation:35s  linear infinite rotacao;
}
.logo_j{
    animation:50s  linear infinite rotacao;
}
.logo_git{
    animation:80s  linear infinite rotacao;
}
.logo_hub{
    animation:20s  linear infinite rotacao; 
}
.logo_vs{
    animation:100s  linear infinite rotacao;
}
@keyframes rotacao{
    0%{transform: translatex(0px);
        
        
    
    }
    25%{transform:translate(-450px, 250px);
        
    }
    50%{
        transform: translatey(600px);
        
        
    }
    75%{transform: translate(450px, 250px);
        
    }  
    100%{
        transform: translateX(0px);
    }
}
header .banner .width-max h1, .banner .width-max p{
    color: #fff;
    font-size: 35px;
}
header .banner .width-max p{
    font-size: 23px;
}
main{
    background-color: #0f3c4c;
}
main #sobre .width-max{
    display: flex;
    flex-direction: column;
}
main .width-max, footer .width-max{    
    max-width: 1024px;
    margin: 0 auto;
}

main .width-max .sobre{
    display: flex;
    justify-content: space-between;
    
}
main .sobre .sobre_img{
    width: 30%;
    
}
main .sobre .sobre_text{
    width: 60%;
    height: 60%;
    
}
main .sobre .sobre_text div:last-of-type{
    display: flex;
    justify-content:space-around;
    height: 30%;

}
main .sobre .sobre_text div:last-of-type a, .galeria_projetos .nav a, button{
    text-decoration: none;
    margin: 50px 0 ;
    border: 1px solid #efd81d;
    padding: 5px 50px;
    border-radius: 30px;
    box-shadow: none;
    transition: 1s;
}
main .sobre .sobre_text div:last-of-type a:hover, .galeria_projetos .nav a:hover, button:hover{
    background-color: #efd81d;
    color: #000000;
    transition: 0.5s; 
    
    box-shadow: 0 0 5px #efd81d,
    0 0 25px #efd81d,
    0 0 50px #efd81d,
    0 0 150px #efd81d;
                
}
main .sobre div:first-of-type img{
    width: 100%;
    border-radius: 0 20px;
}


main .card {
    display: flex;
    justify-content: space-between;
   background-color: #000000;
    border-radius: 20px;
   

}
.card img{
    width: 100px;
    animation: 10s linear infinite pulso;
    scale: 1.0;
    transition: 1s;
}
.card img:hover{
    scale: 1.3;
    transition: 2s;
} 
.card:hover :not(:hover){
    opacity: 0.5;
}
.galeria_projetos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin: 40px 0;
    
}
.projetos_card_1, .projetos_card_2, .projetos_card_3, .projetos_card_4{
    width: 250px;
    height:400px;
    perspective: 1000px;
    position: relative;
}
.projetos_card_4 .front{
   background-color: #0f3c4c;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.front .loader{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 13px solid #1e1e1c;
    border-top: 13px solid #efd81d;
    animation: 3s linear infinite loader ;

    
}

@keyframes loader{
    0%{
        

    }
    50%{box-shadow: 0 0 5px #efd81d,
        0 0 25px #efd81d,
        0 0 50px #efd81d,
        0 0 150px #efd81d;
        background-color: #1e1e1c;

        
    }
    100%{transform: rotate(360deg);

    }
}
.front, .back{
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 1s ease;
    border: 1px solid gray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px  #000000;
    
}
.projetos_card_1 .front img, .projetos_card_2 .front img, .projetos_card_3 .front img, .projetos_card_4 img{
    
    width: 100%;
    height: 100%;
    border-radius:10px;
    
    
    
   
}

.front{
    transform: rotatey(0deg);
    
}
.back{
    transform: rotatey(180deg);
    background:linear-gradient(to bottom, #29273e, #000000);
    
    
}
.back p{
    text-align: justify;
    width: 90%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 26px;
    color:  #ffbda2
    
}
.projetos_card_1:hover .front, .projetos_card_2:hover .front, .projetos_card_3:hover .front, .projetos_card_4:hover .front{
    transform: rotatey(-180deg);
    
    
}
.projetos_card_1:hover .back, .projetos_card_2:hover .back, .projetos_card_3:hover .back, .projetos_card_4:hover .back{
    transform: rotatey(0deg);
    
    
}
main .width-max .galeria_projetos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
    
}
main .galeria_projetos .nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    
    
}
main .galeria_projetos .nav a{
    margin:5px  10px;
    text-align: center;
    
   

}
main #projetos .width-max p:first-of-type{
    text-align: center;
    margin-bottom: 10px;
}
main .width-max .contato{
    display: flex;
    justify-content: space-around;
    padding: 30px 0 60px;
   

}
main .width-max .contato div{
    width: 35%;

}
main .width-max .contato div:last-of-type{
    display: flex;
    align-items: center;
    border-top: 1px solid #ffbda2;  
    border-right:1px solid #ffbda2 ;
      
        
    text-align: center;
    border-radius: 20px 0;
    
   
}
main .width-max .contato div:last-of-type p{
    width: 90%;
    margin: 0 auto;
}
main .formulario{
    border-radius:0 20px;
    border-bottom: 1px solid #ffbda2;  
    border-left:1px solid #ffbda2 ;
}
main .formulario form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5px auto 40px;
    
    
    
}
main .formulario form label{
    margin:10px 0 3px;
}
main .formulario form input{
    height: 40px;
    border-radius: 5px;
}
main .formulario form input:hover, main .formulario form select:hover, main .formulario form  textarea:hover{
    box-shadow: 0 0 5px #efd81d;
}
footer{
    background-color: #000000;
    padding: 20px 0 30px;
}
footer .width-max nav img{
    width: 50px;
    margin:0 2px 20px;
    animation: 3s  infinite  pulo;
   
    
}
main .arrow{
    display: flex;
    justify-content: flex-end;
    margin-right:100px ;
    
    
}
main .arrow img{
    width: 35px;
    background-color: #fff;
    transform: rotate(-90deg);
    border-radius: 30%;
    opacity: 0.6;
    
}
footer .width-max nav a:hover{
   transform: rotatey(360deg);
   border-bottom:1px solid #efd81d;
   transition: 3s ;
}
footer .width-max nav .img1{
    animation-delay:2s;
}
footer .width-max nav.img2{
    animation-delay: 5s;
}
footer .width-max nav .img3{
    animation-delay: 6.9s;
}
@keyframes pulo{
    0%{transform: translateY(0px);
        

    }50%{transform: translateY(-15px);

    }
    100%{transform: translateY(0px);

    }
}
footer .width-max nav{
    display: flex;
    justify-content: center;
}

footer .width-max div:first-of-type{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
    
}
footer .width-max div:first-of-type img{
    width: 25px;
    margin:0 10px -5px;
}
footer .width-max div:first-of-type p{
    margin-top: 5px;
}
footer .width-max .direitos{
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #fff;
    height: 10px;
    padding-top: 5px;
    
}
footer .width-max .direitos p{
    font-size: 16px;
    
}
h2{
    text-align: center;
    font-size: 40px;
    margin: 20px 0 10px;
    font-family: 'Nova Square';
    
}
h3{
    margin-top: 10px;
    background-color:  #efd61d;
    width: 80%;
    margin: 10px auto;
    border-radius: 5px;
    padding: 3px 5px;
    text-align: center;
    color: #000000;
    font-family: 'orbitron';
}
p, label, option, select, textarea{  font-family: 'Nova Square';
    line-height: 30px;
    font-size: 18px;
   
}
option, select{
    font-size: 15px;
}
a, button{
    font-size: 15px;
   font-family: 'orbitron';

    
}
h2, p, a, label, button{
    color: #fff;
}
button{
    background-color: #071e2600;
}
#sobre{
    background:linear-gradient(to bottom,#000000,#071e26, #0f3c4c);    
}
#projetos{
    background:linear-gradient(to bottom,#134b5f,#1a6985,#1a6985, #134b5f );
    border-radius:50px; 
}
#contato{
    background:linear-gradient(to bottom,#0f3c4c, #071e26, #000000)
}
#sobre, #projetos, #contato{
    padding: 20px 0 30px;
}